.button {
  border: 1px solid var(--color-text-dark);
  padding: var(--spacing-md) var(--spacing-xxl);
  font-size: var(--font-size-sm);
  letter-spacing: 0.1em;
  transition: all var(--transition);
  border-radius: var(--border-radius);
}

.button:hover {
  background-color: var(--color-text-dark);
  color: var(--color-white);
}
