.card {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.link {
  display: flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  font-size: var(--font-size-sm);
  color: var(--color-text-muted);
  cursor: pointer;
  transition: var(--transition);
}

.link:hover {
  color: var(--color-primary);
}

.link svg {
  transition: transform var(--transition);
}

.link:hover svg {
  transform: translateX(5px);
}
