.wrapper {
  aspect-ratio: 1 / 1;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-bg-light);

  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  transition: transform var(--transition);
  display: block;
}

.wrapper:hover .image {
  transform: scale(1.05);
}
