.group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
  width: 100%;
}

.label {
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  color: var(--color-text-muted);
  font-weight: 500;
  text-align: left;
}

.input {
  width: 100%;
  padding: var(--spacing-md);
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  color: var(--color-text-dark);
  transition: border-color var(--transition);
  outline: none;
}

.input:focus {
  border-color: var(--color-primary);
}

.input::placeholder {
  color: #d1d1d1;
  font-size: var(--font-size-sm);
}
