.container {
  max-width: 760px;
}
.left {
  align-items: flex-start;
  text-align: left;
}

.center {
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.right {
  align-items: flex-end;
  text-align: right;
  margin-left: auto;
}
.buttonWrapper {
  margin-top: var(--spacing-xl);
  display: flex;
  width: 100%;
}

.left .buttonWrapper {
  justify-content: flex-start;
}
.center .buttonWrapper {
  justify-content: center;
}
.right .buttonWrapper {
  justify-content: flex-end;
}
