.info {
  text-align: left;
  margin-top: var(--spacing-md);
}

.name {
  font-size: var(--font-size-sm);
  color: var(--color-text-dark);
  margin-bottom: 4px;
}

.price {
  font-size: var(--font-size-sm);
  color: var(--color-text-muted);
}
