.wrapper {
  width: 100%;
  background-color: var(--color-bg-light);
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  max-width: var(--container-width);
  width: 100%;
  min-height: 90vh;
}

.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing-xxl);
}

.contentGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    min-height: auto;
  }

  .leftColumn {
    width: 100%;
    order: 2;
  }

  .rightColumn {
    width: 100%;
    order: 1;
    padding: var(--spacing-xl) var(--spacing-md);
  }
}
